.stage {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: 20px;
	margin-left: 41%;
	perspective: 1200px;
	perspective-origin: 50% 50%;
}
.ball .shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
	transform: rotateX(90deg) translateZ(-150px);
	z-index: -1;
}
.ball {
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0;
	border-radius: 50%;
	position: relative;
	background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
}
.ball:before {
	content: "";
	position: absolute;
	top: 1%;
	left: 5%;
	width: 90%;
	height: 90%;
	border-radius: 50%;
	background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
	filter: blur(5px);
	z-index: 2;
}
.iris {
	width: 30%;
	height: 30%;
	margin: 30%;
	border-radius: 50%;
	background: radial-gradient(circle at 50% 50%, #208ab4 0%, #6fbfff 30%, #4381b2 100%);
	transform: translateX(48px) translateY(-40px) skewX(15deg) skewY(2deg);
	position: absolute;
	animation: move-eye-skew 5s ease-out infinite;
}
.iris:before {
	content: "";
	display: block;
	position: absolute;
	width: 37.5%;
	height: 37.5%;
	border-radius: 50%;
	top: 31.25%;
	left: 31.25%;
	background: black;
}
.iris:after {
	content: "";
	display: block;
	position: absolute;
	width: 31.25%;
	height: 31.25%;
	border-radius: 50%;
	top: 18.75%;
	left: 18.75%;
	background: rgba(255, 255, 255, 0.2);
}

@keyframes move-eye-skew {
	0% {
	transform: none;
	}
	20% {
	transform: translateX(-8px) translateY(10px) skewX(15deg) skewY(-10deg) scale(0.95);
	}
	25%, 44% {
	transform: none;
	}
	50%, 60% {
	transform: translateX(8px) translateY(-10px) skewX(5deg) skewY(2deg) scaleX(0.95);
	}
	66%, 100% {
	transform: none;
	}
}


h3{
	/*text-align: center;*/
	color: #fff;
}

h6{
	/*text-align: center;*/
	color: #002641;
}

h5, .h5 {
	font-size: 12px;
	margin: 0 auto;
	color: #002641;
}

.item.item-input{
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom: 1px solid rgba(129, 154, 182, 0.96);
	width: 252px;
	height: 50px;
	background: transparent;
	color: #fff!important;
	margin-left: 5px;
	font-size: 16px;
}

input{
	color: #fff!important;
	font-size: 16px!important;
}

.item.item-code{
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom: 1px solid rgba(129, 154, 182, 0.96);
	width: 80px;
	height: 50px;
	background: transparent;
	color: #fff;
	text-align: center;
}

.item.item-otp{
	margin: 0 auto;
}

.btn{
	padding: 15px;
}

.button.button-positive.button-outline {
	border-color: rgba(129, 154, 182, 0.96);
	background: transparent;
	color: #BDC5D6;
	float: right;
}

.button.button-positive.button-outline.button-otp{
		float: left;
	margin-left: 130px;
}

.main-background{
	/*background: url("http://slwatertech.com/images/Mineral_water_plant_project/5.jpg");*/
	background: url("../img/testImage.jpg");
}

/*.logo{
	width: 50px;
	height: 50px;
	margin-left: 42%;
	margin-top: 10%;

}*/

.pane{
	background: transparent;
}

.terms{
	background: transparent;
	color: #fff;
}